/* ------------------------------------ */
/* Default Visual Library  Frame Styles */
/* ------------------------------------ */

buttontray	{
		content: none;
		border-style: inset;
		background-colour: ihm(2);
		}

buttonframe	{
		class: proportional;
		margin: 1px;	
		content: trigger;
		text-colour: ihm(12);
		text-align: center;
		border-style: convex;		
		}
buttonpress	{
		class: buttonframe;
		border-style: concave;	
		}

buttonfocus	{	
		class: buttonframe;
		margin: 8px;	
		text-decoration: underline;
		border-style: inset;
		}

/* ----------- */
/* End of File */
/* ----------- */

