/* ------------------------------------ */
/* Default Visual Library  Frame Styles */
/* ------------------------------------ */

icontray	{
		class: buttontray;
		}

iconframe	{
		class: buttonframe;
		background-align: makefit;
		text-align: center;
		text-align: transparent;
		content: url;
		text-font: none;
		}

iconpress	{
		class: iconframe;
		border-style: concave;
		}

iconfocus	{	
		class: iconframe;
		border-style: inset;
		margin: 6px;
		}

/* ----------- */
/* End of File */
/* ----------- */



